@font-face {
    font-family: OpenSans;
    src: url(./fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Pokemon;
    src: url(./fonts/Pokemon/Pokemon\ Solid.ttf);
}

body {
    margin: 0;
    font-family: OpenSans;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Pokemon;
}

header {
    background-image: url('./img/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.pokemon-card {
    color: rgb(244, 244, 244);
    text-shadow: 0 0 1px #00000054;
    background-color: #FAD61D;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 250ms;
}

.pokemon-card:hover > .pokemon-image{
    filter: drop-shadow(10px 10px 10px #222);
}

.pokemon-indexnumber {
    display: flex;
    justify-content: end;
    font-size: 24px;
}

.pokemon-name {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.pokemon-element {
    border: solid rgb(142 142 142 / 13%) 2px;
    border-radius: 4px;
    padding: 0px 16px;
    width: max-content;
}

.pokemon-data-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.pokemon-image {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(5px 5px 5px #222);
    transition: 150ms;
}

.pokemon-image img {
    width: 80%;
}